# Database
# Local Docker Postgres:  postgresql://postgres:postgres@localhost:5432/energy_forecast
# Neon.tech (production):  postgresql://user:password@host/dbname?sslmode=require
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/energy_forecast

# MLflow
MLFLOW_TRACKING_URI=http://localhost:5000

# APIs
OPEN_DATA_ZURICH_TOKEN=your_token_here
METEOSWISS_API_KEY=your_key_here
