# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
build/
.coverage
htmlcov/

# Environment
.env

# Data (never commit raw data)
data/raw/
data/samples/

# MLflow artifacts
mlruns/
mlflow_artifacts/

# IDE
.vscode/
.idea/
*.DS_Store

# Docker
*.log
