# Data
pandas==2.2.2
numpy==1.26.4
requests==2.32.3
holidays==0.45

# ML
scikit-learn==1.5.0
xgboost==2.0.3
prophet==1.1.5

# Database
psycopg2-binary==2.9.9
sqlalchemy==2.0.30
python-dotenv==1.0.1
alembic==1.13.1

# MLflow
mlflow==2.12.1

# Dashboard
streamlit==1.35.0
plotly==5.22.0

# Orchestration
prefect==2.19.7

# Quality
ruff==0.4.4
mypy==1.10.0
types-requests==2.32.0.20240622
pytest==8.2.1
pytest-cov==5.0.0
